
INFLUXDB_URL=http://localhost:8086
INFLUXDB_TOKEN=YOUR_INFLUXDB_TOKEN
INFLUXDB_ORG=YOUR_INFLUXDB_ORG
INFLUXDB_BUCKET=YOUR_INFLUXDB_BUCKET
SLACK_BOT_TOKEN=YOUR_SLACK_BOT_TOKEN
SLACK_OAUTH_CHANNEL=#oauth-alerts
